<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes,  maximum-scale=5">

<title>Ebook Lite Spec 1.0</title>

<!--ALL CSS (Include more only if current page needs) -->
<link href="../pack/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../pack/css/base_v19.css" rel="stylesheet" type="text/css">
<link href="../katex/katex.min.css" rel="stylesheet" type="text/css">
<!-- -->

<style>

	.block-header{
		width: 100%;
		margin-top: 2% !important;
		padding: 20px !important;
		color:#FFFFFF !important;
		background-color: #9CC228;
		text-align: justify !important;
		border-radius:25px 0px 0px 25px;
		display: inline-table;
		font-weight: bold;
	}

	ul > li >b{
    color:#009ae6 !important;
}

h1{
	color: #0D7475!important;
}

table,tr,td{
	border: solid 3px #FFFFFF;
	background-color: #EBF4F6;
}

</style>

</head>

<body>

<div class="container main-container use-padding">
    <center><div class="block-header">Unidad 1 <b style="font-weight:normal;"> Tratamiento de las figuras geométricas, los criterios de congruencia y semejanza</b></div></center>

    <div>

        <div class="col-sm-12 col-xs-12">

            <div style="border:solid #685f67;padding:20px;border-radius:20px; margin-top: 20px;" class="col-sm-12 col-xs-12 " >

                <div>
                    <img src="pictures/flecha-triple.png" style="width:5%;">
                    <h2 style="color: #009ae6;">Actividad 27 &nbsp;&nbsp;&nbsp; • CG 7.2 • CDBM 4 •</h2>
                </div>
                
                <h4 style="color: #000000;">
                    Resuelve los siguientes problemas en tu libreta. Recuerda
                    mostrar todos tus procedimientos y si es necesario hacer
                    trazos, utiliza tu juego de geometría. 
                </h4>
                <br>

                <div class="act27_1 col-sm-12 col-xs-12">
                    <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
                        <img class="img-responsive" style="margin-bottom:0px;" src="pictures/act27_1.png"/>
                    
                    </figure>
                </div>
                
                <div>
                    <li style="list-style:none;"><b style="color: aqua;">1.</b>
                        Para el prisma de la derecha: calcula el área lateral, el área total y el volumen.
                    </li>

                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">2.</b> 
                        Para calcular el área total de una pirámide, se
                        debe calcular primero el área lateral, que es equivalente a la mitad del perímetro de la base, por la
                        apotema (la altura de uno de los triángulos que la
                        conforman) y finalmente sumar el área de su base.                         
                    </li>

                    <li style="list-style:none;"><b style="color: purple;">a.</b> Calcula para la pirámide de la siguiente figura:
                        <ul class="has-pink">
                            <li>Área lateral.</li>
                            <li>Área de su base.</li>
                            <li>Área total.</li>
                            <li>Volumen</li>
                        </ul>                        
                    </li>
                    <br><br>
                </div>
                <div class="act27_2 col-sm-12 col-xs-12">
                    <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
                        <img class="img-responsive" style="margin-bottom:0px;" src="pictures/act27_2.png"/>
                    
                    </figure>
                </div>

                <div>

                    <li style="list-style:none;"><b style="color: aqua;">3.</b> 
                        Determina la superficie total y el volumen de una pirámide cuadrangular con una arista básica de 6 cm
                        y 5 cm de apotema.
                        ese espacio? 
                    </li>
                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">4.</b> Se quiere forrar una caja que tiene forma de ortoedro,
                        con un papel que cuesta $10 el metro cuadrado. ¿Cuánto
                        papel se empleará, si las dimensiones de la caja son 0,5
                        dm de largo, 4 m de ancho y 60 dm de alto? Calcula
                        su volumen. 
                    </li>
                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">5.</b> 
                        El área de la base de una pirámide cuadrangular regular es 25 <strong class="katex">{{cm}^{2} }</strong>. 
                        Calcula su volumen y el área lateral, si la arista lateral mide 12 cm.
                    </li>
                    <br><br>

                </div>
                
                <div><br></div>

            </div>
            
        </div>
        <br>
        <br>
        

    </div>
    

<!--END CONTAINER-->    
</div>



<!--ALL JS -->
<script src="../pack/js/jquery-2.1.4.min.js"></script>
<script src="../pack/js/bootstrap.min.js"></script>
<script src="../pack/js/init.js"></script>
<!-- <script src="../pack/js/stacktable.js"></script> -->
<script src="../pack/js/hacker-utils.js"></script>
<script src="../pack/js/yohack-handler.js"></script>
<script src="../katex/katex.min.js"></script> 
</body>
</html>
