<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes,  maximum-scale=5">

<title>Ebook Lite Spec 1.0</title>

<!--ALL CSS (Include more only if current page needs) -->
<link href="../pack/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../pack/css/base_v19.css" rel="stylesheet" type="text/css">
<link href="../katex/katex.min.css" rel="stylesheet" type="text/css">
<!-- -->

<style>

	.block-header{
		width: 100%;
		margin-top: 2% !important;
		padding: 20px !important;
		color:#FFFFFF !important;
		background-color: #9CC228;
		text-align: justify !important;
		border-radius:25px 0px 0px 25px;
		display: inline-table;
		font-weight: bold;
	}

	ul > li >b{
    color:#009ae6 !important;
}

h1{
	color: #0D7475!important;
}

table,tr,td{
	border: solid 3px #FFFFFF;
	background-color: #EBF4F6;
}

</style>

</head>

<body>

<div class="container main-container use-padding">
    <center><div class="block-header">Unidad 1 <b style="font-weight:normal;"> Tratamiento de las figuras geométricas, los criterios de congruencia y semejanza</b></div></center>

    <div>

        <div class="col-sm-12 col-xs-12">

            <div style="border:solid #685f67;padding:20px;border-radius:20px; margin-top: 20px;" class="col-sm-12 col-xs-12 " >

                <div>
                    <img src="pictures/flecha-triple.png" style="width:5%;">
                    <h2 style="color: #009ae6;">Actividad 26 &nbsp;&nbsp;&nbsp; • CG 7 • CDBM 6 •</h2>
                </div>
                
                <h4 style="color: #000000;">
                    Resuelve lo siguiente en tu libreta. 
                </h4>
                <br>

                <div class="p_e2 col-sm-12 col-xs-12">
                    <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
                        <img class="img-responsive" style="margin-bottom:0px;" src="pictures/p_e2.png"/>
                    
                    </figure>
                </div>
                
                <div>
                    <li style="list-style:none;"><b style="color: aqua;">1.</b> Un envase tetrabrick de leche mide aproximadamente 5 cm de cada lado en su base
                        cuadrada y 25 cm de altura, considerando la parte que se dobla para cerrarlo. Estima
                        aproximadamente cuántos mL de leche puede contener. Recuerda que 1 mL = 1 <strong class="katex">{{cm}^{3} }</strong>.
                        
                    </li>

                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">2.</b> Una botella de bebida rehidratante tiene forma de un cilindro acinturado. Su base
                        mide aproximadamente 7 cm de diámetro y su altura, unos 30 cm. En la etiqueta
                        dice que el envase contiene 990 mL. Realiza una estimación del volumen que puede
                        contener esa botella, considerándola cilíndrica y verifica si efectivamente puede ser
                        que contenga el volumen anunciado en la etiqueta.                          
                    </li>
                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">3.</b> En una construcción, están haciendo terrones (cúmulos en forma
                        aproximadamente cónica) con la grava y la arena. Tienen un espacio
                        cuadrado de aproximadamente 5 m de cada lado. Si quieren acomodar
                        un terrón de arena en un círculo con ese diámetro y que no tenga
                        más de 1.5 m de alto, ¿qué volumen de arena pueden acomodar en
                        ese espacio? 
                    </li>
                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">4.</b> La pirámide del Sol en Teotihuacan mide 225 m de cada lado en su
                        base cuadrada y tiene 65 m de alto. Claro que no tiene la forma perfecta de una pirámide cuadrangular, por los detalles de su construcción.
                        Estima su volumen en <strong class="katex">{{m}^{3} }</strong>, considerándola un sólido geométrico perfecto.
                        ¿Cómo será la medida real más exacta: mayor o menor que tu estimación? Explica tu respuesta. 
                    </li>
                    <br><br>

                    <li style="list-style:none;"><b style="color: aqua;">5.</b> Alchichica es una laguna hermosa y enigmática que se encuentra
                        en el Estado de Puebla, en México. Este Xalapasco de 5.7 km de diámetro (aproximándolo a un círculo), tiene 65 m de profundidad. Estima
                        el volumen aproximado del agua contenida en esta laguna.
                    </li>
                    <br><br>

                </div>
                
                <div><br></div>

            </div>
            
        </div>
        <br>
        <br>
        

    </div>
    

<!--END CONTAINER-->    
</div>



<!--ALL JS -->
<script src="../pack/js/jquery-2.1.4.min.js"></script>
<script src="../pack/js/bootstrap.min.js"></script>
<script src="../pack/js/init.js"></script>
<!-- <script src="../pack/js/stacktable.js"></script> -->
<script src="../pack/js/hacker-utils.js"></script>
<script src="../pack/js/yohack-handler.js"></script>
<script src="../katex/katex.min.js"></script> 
</body>
</html>
