<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes,  maximum-scale=5">

<title>Ebook Lite Spec 1.0</title>

<!--ALL CSS (Include more only if current page needs) -->
<link href="../pack/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../pack/css/base_v19.css" rel="stylesheet" type="text/css">
<link href="../katex/katex.min.css" rel="stylesheet" type="text/css">

<style>

	.block-header{
		width: 100%;
		margin-top: 2% !important;
		padding: 20px !important;
		color:#FFFFFF !important;
		background-color: #9CC228;
		text-align: justify !important;
		border-radius:25px 0px 0px 25px;
		display: inline-table;
		font-weight: bold;
	}

	ul > li >b{
    color:#009ae6 !important;
}

h1{
	color: #0D7475!important;
}

table,tr,td{
	border: solid 3px #FFFFFF;
	background-color: #EBF4F6;
}

</style>

</head>

<body>

<div class="container main-container use-padding" style="text-align:justify;">
	<center><div class="block-header">Unidad 1 <b style="font-weight:normal;"> Tratamiento de las figuras geométricas, los criterios de congruencia y semejanza</b></div></center>
	
	<div class="col-sm-12 col-xs-12">

		<h3 style="color: orange;">
            Recta secante a una curva
        </h3>
        
        <ul class="has-pink">
            <li><strong>Recta secante</strong>: La recta <strong class="katex"> \overline{JK} </strong> 
                es una recta que corta la circunferencia en dos puntos.
                (Figura 1.9). 
            </li>
            <li><strong>Circunferencias secantes</strong>: Son circunferencias que se cortan en dos puntos. 
                El segmento rectilíneo que une los puntos de intersección entre las circunferencias (<strong class="katex"> \overline{{l1}{l2}} </strong> ) es
                una cuerda para ambas circunferencias, por lo tanto, es perpendicular a la recta que
                pasa por los centros de ambas circunferencias.
            </li>
        </ul>
    </div>
    
    <div class="figura1.9 col-sm-12 col-xs-12">
        <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
        <img class="img-responsive" style="margin-bottom:0px;" src="pictures/figura1.9.png"/>
        <figcaption style="color:#FFFFFF;background:#0FB0BB;border-top:0;"><b>Figura 1.9</b> Líneas notables de la circunferencia.
            La recta secante es el segmento <strong class="katex"> ( \overline{JK} )</strong>.</figcaption>
        </figure>
    </div>

    <div class="figura1.10 col-sm-12 col-xs-12">
        <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
        <img class="img-responsive" style="margin-bottom:0px;" src="pictures/figura1.10.png"/>
        <figcaption style="color:#FFFFFF;background:#0FB0BB;border-top:0;"><b>Figura 1.10</b> Circunferencias secantes. 
        </figcaption>
        </figure>
    </div>
	
	<div class="col-sm-12 col-xs-12">

        <h3 style="color: orange;">
            Ángulos entre paralelas y una secante
        </h3>
        
        <p>
            Si cortas dos rectas paralelas por una transversal no perpendicular,
            como se muestra en la Figura 1.11, se forman ocho ángulos de los
            que cuatro son iguales entre sí y otros cuatro son iguales entre sí;
            es decir hay cuatro ángulos agudos iguales entre sí y cuatro ángulos
            obtusos iguales entre sí, que se clasifican según sus posiciones. 
        </p>

        <p>
            Observa la Figura 1.11. En ella verás ocho ángulos y confirmarás
            los siguientes teoremas.
        </p>

    </div>

    <div class="figura1.11 col-sm-12 col-xs-12">
        <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
        <img class="img-responsive" style="margin-bottom:0px;" src="pictures/figura1.11.png"/>
        <figcaption style="color:#FFFFFF;background:#0FB0BB;border-top:0;"><b>Figura 1.11</b> Se forman ocho pares de
            ángulos al cortar dos rectas paralelas
            con una secante no perpendicular,
            con propiedades de correspondencia
            entre ellos. </figcaption>
        </figure>
    </div>

    <div class="col-sm-12 col-xs-12">
        
        <center>
            <table style="width:100%;text-align:justify;">
                <thead>
                    <tr>
                        <th width="20%" style="background-color:greenyellow;color:#FFFFFF;text-align:center;">Igualdad</th>
                        <th width="30%" style="background-color:red;color:#FFFFFF;text-align:center;">Porque son</th>
                        <th width="20%" style="background-color:aqua;color:#FFFFFF;text-align:center;">Igualdad</th>
                        <th width="30%" style="background-color:orange;color:#FFFFFF;text-align:center;">Porque son</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ><ul><li> ∠a = ∠d </li></ul></td>
                        <td ><ul><li> opuestos por el vértice </li></ul></td>
                        <td ><ul><li> ∠a = ∠h </li></ul></td>
                        <td ><ul><li> alternos externos </li></ul></td>
                    </tr>
                    <tr>
                        <td ><ul><li> ∠b = ∠c </li></ul></td>
                        <td ><ul><li> opuestos por el vértice </li></ul></td>
                        <td ><ul><li> ∠b = ∠g </li></ul></td>
                        <td ><ul><li> alternos externos </li></ul></td>
                    </tr>
                    <tr>
                        <td ><ul><li> ∠e = ∠h </li></ul></td>
                        <td ><ul><li> opuestos por el vértice </li></ul></td>
                        <td ><ul><li> ∠c = ∠f </li></ul></td>
                        <td ><ul><li> alternos externos </li></ul></td>
                    </tr>
                    <tr>
                        <td ><ul><li> ∠g = ∠f </li></ul></td>
                        <td ><ul><li> opuestos por el vértice </li></ul></td>
                        <td ><ul><li> ∠d = ∠e </li></ul></td>
                        <td ><ul><li> alternos externos </li></ul></td>
                    </tr>
                    <tr>
                        <td ><ul><li> ∠a = ∠e </li></ul></td>
                        <td ><ul><li> correspondientes </li></ul></td>
                        <td ><ul><li> ∠c = ∠g </li></ul></td>
                        <td ><ul><li> correspondientes </li></ul></td>
                    </tr>
                    <tr>
                        <td ><ul><li> ∠b = ∠f </li></ul></td>
                        <td ><ul><li> correspondientes </li></ul></td>
                        <td ><ul><li> ∠d = ∠h </li></ul></td>
                        <td ><ul><li> correspondientes </li></ul></td>
                    </tr>

                </tbody>
            </table>
        </center>
        <br>

    </div>



    <div class="col-sm-12 col-xs-12">
        
        <h3 style="color: orange;">
            Ángulos entre paralelas y una secante
        </h3>

    </div>
    <br><br>

		
<!--END CONTAINER-->    
</div>



<!--ALL JS -->
<script src="../pack/js/jquery-2.1.4.min.js"></script>
<script src="../pack/js/bootstrap.min.js"></script>
<script src="../pack/js/init.js"></script>
<script src="../pack/js/hacker-utils.js"></script>
<script src="../pack/js/yohack-handler.js"></script>
<script src="../katex/katex.min.js"></script>
</body>
</html>
