<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes,  maximum-scale=5">

<title>Ebook Lite Spec 1.0</title>

<!--ALL CSS (Include more only if current page needs) -->
<link href="../pack/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../pack/css/base_v19.css" rel="stylesheet" type="text/css">
<link href="../katex/katex.min.css" rel="stylesheet" type="text/css">

<style>

	.block-header{
		width: 100%;
		margin-top: 2% !important;
		padding: 20px !important;
		color:#FFFFFF !important;
		background-color: #9CC228;
		text-align: justify !important;
		border-radius:25px 0px 0px 25px;
		display: inline-table;
		font-weight: bold;
	}

	ul > li >b{
    color:#009ae6 !important;
}

h1{
	color: #0D7475!important;
}

table,tr,td{
	border: solid 3px #FFFFFF;
	background-color: #EBF4F6;
}

</style>

</head>

<body>

<div class="container main-container use-padding" style="text-align:justify;">
	<center><div class="block-header">Unidad 1 <b style="font-weight:normal;"> Tratamiento de las figuras geométricas, los criterios de congruencia y semejanza</b></div></center>

	<div class="col-sm-12 col-xs-12">

        <h3 style="color: orange;">
            Magnitudes del círculo
        </h3>

        <p>
            Una circunferencia encierra un área llamada círculo, por lo que <strong>el contorno de esta área es la circunferencia</strong>, 
            es decir, <strong>el perímetro</strong>; por lo tanto, la magnitud del perímetro de un círculo
            se calcula con la fórmula: P = π · D <br>
            Para esto será necesario considerar a π = 3.1416
        </p>
    </div>

    <div class="col-sm-12 col-xs-12">

		<p style="background-color:red;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Ejemplo 1</strong></p>
		
		<p>
			Calcular el perímetro de un círculo que tiene 5 cm de diámetro.            
        </p>

        <p style="background-color: red;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Solución:</strong></p>
		
		<p style="text-align: center;">
			P = 5 cm x 3.1416 = 15.708 cm  
        </p>
        <br>

        <p style="background-color:greenyellow;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Ejemplo 2</strong></p>
		
		<p>
			Si el radio de una circunferencia es de 10 cm, ¿cuánto tiene de perímetro?
            Recordemos que, si trazamos un diámetro en una circunferencia, podremos determinar
            que éste equivale a dos radios, es decir: D = 2r          
        </p>

        <p style="background-color: greenyellow;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Solución:</strong></p>
		
		<p style="text-align: center;">
			P = π · D = π · 2r <br>
            Sustituyendo: <br>
            P = 3.1416 x 2(10 cm) = 62.832 cm 
        </p>

        <p style="background-color:aqua;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Ejemplo 3</strong></p>
		
		<p>
			Dado el perímetro de una circunferencia, escribe una expresión para calcular el diámetro
            y otra para calcular el radio.            
        </p>

        <p style="background-color: aqua;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Solución:</strong></p>
		
		<p style="text-align: center;">
            Si P = π · D, entonces: 
            D = <strong class="katex">{\frac{P}{\pi} }</strong> <br>
            Como: <br>
            D = 2r : r =<strong class="katex">{\frac{P}{2 \pi} }</strong> 
        </p>

    </div>

    <div class="col-sm-12 col-xs-12">

        <h3 style="color: orange;">
            Relación de los polígonos regulares con el círculo
        </h3>
        
        <p>
            El área de un polígono se calcula con la fórmula: 
        </p>
        <p style="text-align: center;">
            A = <strong class="katex">{\frac{P*a}{2} }</strong> <br> 
        </p>

        <p>
            En el caso de la circunferencia, el radio es la recta perpendicular a la tangente; por lo tanto,
            resulta que el radio es la apotema de la misma; entonces, al sustituir tendremos.
        </p>

        <p style="text-align: center;">
            A = <strong class="katex">{\frac{P*a}{2} }</strong> <br>
            = <strong class="katex">{\frac{\pi * 2r *a}{2} }</strong> <br>
            = <strong class="katex">{\frac{\pi * 2r *r}{2} }</strong> <br>
            = <strong class="katex">{{\pi}*{r}^{2} }</strong> 
        </p>

        <p>

            Concluimos que, el área de una circunferencia, se calcula multiplicando 3.1416 por el cuadrado de la longitud del radio. <br>
            A = <strong class="katex">{{\pi}*{r}^{2} }</strong> 
        </p>

        <p style="background-color:red;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Ejemplo 1</strong></p>

        <p>
            Calcular el área de una circunferencia que tiene un radio de 7 cm.
        </p>
        
        <p style="background-color: red;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Solución:</strong></p>

		<p>
			A = π · <strong class="katex">{({7 cm})^{2} }</strong> 
            = 3.1416 x 49 <strong class="katex">{{7 cm}^{2} }</strong> 
            = 153.9384 <strong class="katex">{{cm}^{2} }</strong>       
        </p>

        <p style="background-color:greenyellow;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Ejemplo 2</strong></p>

        <p>
            Calcular el diámetro de una circunferencia que tiene un área de 100 <strong class="katex">{{cm}^{2} }</strong>.
        </p>
        
        <p style="background-color: greenyellow;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Solución:</strong></p>

		<p>
			Como A = π · <strong class="katex">{({r})^{2} }</strong> 
            = π x <strong class="katex">{\frac{{D}^{2}}{2} }</strong> 
            = <strong class="katex">{\frac{{\pi}{D}^{2}}{4} }</strong>,
        </p>

        <p>
            despejando, tendremos: D = <strong class="katex">{\sqrt{\frac{4*A}{\pi}} }</strong> 
        </p>

        <p>
            Sustituyendo:D = <strong class="katex">{\sqrt{\frac{4*1000 {cm}^{2}}{\pi}} }</strong>
        </p>

        <p>
            Realizando operaciones: D = 11.28 cm
        </p>

    </div>

    <div class="col-sm-12 col-xs-12">

        <h3 style="color: orange;">
            Aplicación de cálculos en las figuras geométricas irregulares
        </h3>

        <p>
            Las figuras geométricas que tienen una superficie limitada por lados
            rectos facilitan el cálculo de su área.
        </p>

        <p>
            Sin embargo, cuando esto no es posible, podemos aplicar estrategias muy sencillas 
            que nos permitirán calcular áreas de muchas figuras de forma irregular.
        </p>

        <p>
            Para cualquier polígono irregular: <br>
            ÁreaTotal = Suma de las áreas de los triángulos interiores <br>
            AT = A1 + A2 + A3 + … + An
        </p>

        <p style="color: orange;">
            <strong>Cálculo del perímetro</strong>
        </p>

        <p>
            Sumando las longitudes de los lados de un polígono hallaremos su
            perímetro.
        </p>
    </div>

    <div class="figura1.43 col-sm-12 col-xs-12">
        <figure class="g-aqua" style="margin: 0 auto 10px; max-width:30%;">
            <img class="img-responsive" style="margin-bottom:0px;" src="pictures/figura1.43.png"/>
            <figcaption style="color:#FFFFFF;background:#0FB0BB;border-top:0;"><b>Figura 1.43</b> Ejemplo de un polígono
                regular que tiene una superficie limitada
                por lados rectos. Su área se calcula
                fácilmente segmentando la figura
                en triángulos.</figcaption>
        </figure>
    </div>

		
<!--END CONTAINER-->    
</div>



<!--ALL JS -->
<script src="../pack/js/jquery-2.1.4.min.js"></script>
<script src="../pack/js/bootstrap.min.js"></script>
<script src="../pack/js/init.js"></script>
<script src="../pack/js/hacker-utils.js"></script>
<script src="../pack/js/yohack-handler.js"></script>
<script src="../katex/katex.min.js"></script>
</body>
</html>
