<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes,  maximum-scale=5">

<title>Ebook Lite Spec 1.0</title>

<!--ALL CSS (Include more only if current page needs) -->
<link href="../pack/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../pack/css/base_v19.css" rel="stylesheet" type="text/css">
<link href="../katex/katex.min.css" rel="stylesheet" type="text/css">

<style>

	.block-header{
		width: 100%;
		margin-top: 2% !important;
		padding: 20px !important;
		color:#FFFFFF !important;
		background-color: #9CC228;
		text-align: justify !important;
		border-radius:25px 0px 0px 25px;
		display: inline-table;
		font-weight: bold;
	}

	ul > li >b{
    color:#009ae6 !important;
}

h1{
	color: #0D7475!important;
}

table,tr,td{
	border: solid 3px #FFFFFF;
	background-color: #EBF4F6;
}

</style>

</head>

<body>

<div class="container main-container use-padding" style="text-align:justify;">
	<center><div class="block-header">Unidad 1 <b style="font-weight:normal;"> Tratamiento de las figuras geométricas, los criterios de congruencia y semejanza</b></div></center>

	<div class="col-sm-12 col-xs-12">
        <h1><span class="glyphicon glyphicon-globe" style="border:dashed;border-radius:50px;padding:5px;"></span> 
            Estimación de volúmenes
		</h1>

		<p>
			Estimar es el proceso de aproximar alguna medida o cantidad con algún propósito. Por
            ejemplo, si vemos un “tambo” cilíndrico que mide aproximadamente 2 m de diámetro por
            4 m de altura y queremos tener una idea de cuánto líquido podría contener en sí mismo, hacemos rápidamente un cálculo mental, primero, aproximando el valor de pi a 3 enteros, para
            facilitar la multiplicación. Sabemos que el área de la base del cilindro es pi por diámetro,
            entonces debe ser aproximadamente 3 por 2 m, 6 m. Si su altura es de unos 4 m, entonces
            ese recipiente podrá tener aproximadamente 12 metros cúbicos.             
        </p>
        
        <p>
            En otros casos, vemos recipientes de figuras irregulares, pero igual podemos utilizar las fórmulas de volúmenes para cuerpos geométricos regulares y, recurriendo al cálculo mental y a la
            aproximación ya sea de medidas o constantes (como pi), realizamos la estimación de volumen
            de cualquier contenedor, cuerpo geométrico o incluso cuerpo irregular. En la naturaleza, es
            común encontrar cuerpos irregulares. Tal vez un ingeniero requiera estimar el volumen ocupado
            por una laguna o un pequeño lago, la cantidad de tierra, piedras y sólidos en una montaña,
            los metros cúbicos de arena en un terrón o cúmulo, etcétera. 
        </p>

        <p>
            En este apartado, veremos cómo calcular con exactitud, pero también, cómo estimar
            volúmenes en diferentes contextos.             
        </p>

		<h3 style="color: orange;">
            Formas para medir volúmenes
		</h3>
		
		<p>
			Para comprender mejor de dónde provienen las fórmulas para el cálculo de volúmenes, podemos
            partir de algo conocido como <strong>sólidos de revolución</strong>. Se llaman así porque son el resultado de
            revolucionar, es decir, hacer girar sobre su eje de simetría, diferentes figuras geométricas planas.             
		</p>

		<p style="color: orange;">
			Prismas
        </p>
        
        <p>
            Un prisma es un poliedro irregular que tiene dos caras paralelas, llamadas bases, las caras restantes siguen siendo paralelogramos.
        </p>

        <p>
            El área de un prisma es la suma de las áreas de todas sus caras. <br>
            El área lateral es la suma de las áreas de las caras laterales: es igual al perímetro de la
            base del prisma, por la altura, es decir AL = PB · a (AL = área lateral; PB = perímetro de la
            base del prisma).
        </p>

        <p>
            El área total de un prisma se obtiene sumando el área lateral y el área de cada una de las
            bases, es decir AT = AL + 2AB (AB = área de la base; AT = área total del prisma).
        </p>

        <p>
            El volumen es el producto del área de la base por la altura.
        </p>
	</div>

    <div class="col-sm-12 col-xs-12">

		<p style="background-color:red;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Ejemplo</strong></p>
		
		<p>
			De acuerdo con la siguiente figura, calcula el área y volumen totales.            
        </p>

        <p style="background-color: red;color:#FFFFFF;padding:2px;width:30%;text-align:left;"><strong>Solución:</strong></p>
		
		<p >
            El área lateral del prisma es: <br>
            AL = PB · a = (12 cm)(3 cm) = 36 <strong class="katex">{{cm}^{2} }</strong> <br>
            El área de la base del prisma es: <br>
            AB = largo x ancho = 8 <strong class="katex">{{cm}^{2} }</strong> <br>
            como son dos bases iguales, multiplicamos por dos: 2AB = 16 <strong class="katex">{{cm}^{2} }</strong> <br>
            El área total es: AT = AL + 2AB = 36 <strong class="katex">{{cm}^{2} }</strong> + 16 <strong class="katex">{{cm}^{2} }</strong> = 52 <strong class="katex">{{cm}^{2} }</strong> <br>
            El <strong>volumen</strong> es: V = (4 cm)(2 cm)(3 cm) = 24 <strong class="katex">{{cm}^{3} }</strong>
			 
        </p>
        <br>

    </div>

		
<!--END CONTAINER-->    
</div>



<!--ALL JS -->
<script src="../pack/js/jquery-2.1.4.min.js"></script>
<script src="../pack/js/bootstrap.min.js"></script>
<script src="../pack/js/init.js"></script>
<script src="../pack/js/hacker-utils.js"></script>
<script src="../pack/js/yohack-handler.js"></script>
<script src="../katex/katex.min.js"></script>
</body>
</html>
