<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes,  maximum-scale=5">

<title>Ebook Lite Spec 1.0</title>

<!--ALL CSS (Include more only if current page needs) -->
<link href="../pack/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../pack/css/base_v19.css" rel="stylesheet" type="text/css">
<link href="../katex/katex.min.css" rel="stylesheet" type="text/css">

<style>

	.block-header{
		width: 100%;
		margin-top: 2% !important;
		padding: 20px !important;
		color:#FFFFFF !important;
		background-color: #9CC228;
		text-align: justify !important;
		border-radius:25px 0px 0px 25px;
		display: inline-table;
		font-weight: bold;
	}

	ul > li >b{
    color:#009ae6 !important;
}

h1{
	color: #0D7475!important;
}

table,tr,td{
	border: solid 3px #FFFFFF;
	background-color: #EBF4F6;
}

</style>

</head>

<body>

<div class="container main-container use-padding" style="text-align:justify;">
    <center><div class="block-header">Unidad 1 <b style="font-weight:normal;"> Tratamiento de las figuras geométricas, los criterios de congruencia y semejanza</b></div></center>
    
	<h4 style="background-color:purple;color:#FFFFFF;padding:10px;border-radius:10px;"><strong><span class="glyphicon glyphicon-list"></span> Evaluación sumativa </strong></h4>

    <div id="tema190es" data-storable="Primer parcial/Evaluación sumativa">
            
        <div style="border:solid gray;padding:20px;border-radius:20px;">

            <h4 style="color: #000000;"> <b style="color: orange;">I.</b>
                Subraya la respuesta correcta. Desarrolla los planteamiento necesarios en tu cuaderno.
            </h4>

            <div>
                <li style="list-style:none;"><b style="color: aqua;">1.</b> Un ángulo es:
                    <ul role="multiple-choice">
                        <li><b>a.</b> La unión de dos líneas.</li>
                        <li><b>b.</b> La separación que hay entre dos puntos.</li>
                        <li><b>c.</b> El vértice que se forma con dos líneas.</li>
                        <li><b>d.</b> Figura formada por dos semirrectas al cortarse.</li>
                       
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">2.</b> Es la fórmula para calcular el área de una circunferencia.
                    <ul role="multiple-choice">
                        <li><b>a.</b> 2πr</li>
                        <li><b>b.</b> π<strong class="katex">r^{2} </strong></li>
                        <li><b>c.</b> <strong class="katex">\frac{{\pi * r^{2}}}{2} </strong></li>
                        <li><b>d.</b> <strong class="katex">{\frac{3}{4}} {{{\pi * r^{2}}}} </strong></li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">3.</b> En la proporción <strong class="katex">\frac{3}{6} = \frac{4}{a}  </strong>
                    el valor de a es:
                    <ul role="multiple-choice">
                        <li><b>a.</b> 7</li>
                        <li><b>b.</b> 8</li>
                        <li><b>c.</b> 9</li>
                        <li><b>d.</b> 10</li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">4.</b> ¿Qué fracción decimal de una hora son 20 minutos?
                    <ul role="multiple-choice">
                        <li><b>a.</b> 0.2 </li>
                        <li><b>b.</b> 0.3</li>
                        <li><b>c.</b> 0.33</li>
                        <li><b>d.</b> 0.4</li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">5.</b> Si los catetos de un triángulo rectángulo miden 2 unidades cada uno, ¿cuánto mide
                    la hipotenusa?
                    <ul role="multiple-choice">
                        <li><b>a.</b> 4</li>
                        <li><b>b.</b>8</li>
                        <li><b>c.</b> 2 <strong class="katex">\sqrt{2} </strong></li>
                        <li><b>d.</b> 16</li>
                    </ul>
                </li>
                <br><br>
                <li style="list-style:none;"><b style="color: aqua;">6.</b> Es la medida de un ángulo interior para un hexágono regular.
                    <ul role="multiple-choice">
                        <li><b>a.</b> 110°</li>
                        <li><b>b.</b> 60° </li>
                        <li><b>c.</b> 80°</li>
                        <li><b>d.</b> 120°</li>
                       
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">7.</b> ¿Cuántos lados tiene un polígono regular, cuyos ángulos exteriores miden 45° cada uno?
                    <ul role="multiple-choice">
                        <li><b>a.</b> 6</li>
                        <li><b>b.</b> 8</li>
                        <li><b>c.</b> 7</li>
                        <li><b>d.</b> 5</li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">8.</b> ¿Cuántas diagonales se pueden trazar en un polígono de 12 lados desde todos sus
                    vértices?
                    <ul role="multiple-choice">
                        <li><b>a.</b> 54</li>
                        <li><b>b.</b> 40</li>
                        <li><b>c.</b> 65</li>
                        <li><b>d.</b> 35</li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">9.</b> Determina la suma de los ángulos interiores de un polígono regular, cuyo ángulo
                    exterior mide 36°
                    <ul role="multiple-choice">
                        <li><b>a.</b> 126° </li>
                        <li><b>b.</b> 1 440°</li>
                        <li><b>c.</b> 900°</li>
                        <li><b>d.</b> 1 620°</li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">10.</b> Halla el área de un triángulo equilátero, cuyo perímetro mide 180 cm.
                    <ul role="multiple-choice">
                        <li><b>a.</b> 1 558.85 <strong class="katex">cm^{2} </strong></li>
                        <li><b>b.</b> 1 740.4 <strong class="katex">cm^{2} </strong></li>
                        <li><b>c.</b> 1 460  <strong class="katex">cm^{2} </strong></li>
                        <li><b>d.</b> 1 648.4 <strong class="katex">cm^{2} </strong></li>
                        <li><b>e.</b> 1 904.8 <strong class="katex">cm^{2} </strong></li>
                    </ul>
                </li>
                <br><br>

                <li style="list-style:none;"><b style="color: aqua;">11.</b> Determina el área de un octágono regular inscrito en una circunferencia, si cada uno
                    de sus lados mide 10 cm
                    <ul role="multiple-choice">
                        <li><b>a.</b> 504 <strong class="katex">cm^{2} </strong></li>
                        <li><b>b.</b> 446 <strong class="katex">cm^{2} </strong></li>
                        <li><b>c.</b> 483   <strong class="katex">cm^{2} </strong></li>
                        <li><b>d.</b> 494 <strong class="katex">cm^{2} </strong></li>
                        <li><b>e.</b> 704 <strong class="katex">cm^{2} </strong></li>
                    </ul>
                </li>
                <br><br>

            </div>
            <br>
            <h4 style="color: #000000;"> <b style="color: orange;">II.</b>
                Contesta las preguntas siguientes. 
            </h4>

            <div>
                <li style="list-style:none;"><b style="color: aqua;">1.</b> ¿Qué es la Geometría plana?
                    <span contenteditable="true" class="many-line"></span>
                </li>
    
                <li style="list-style:none;"><b style="color: aqua;">2.</b> ¿Qué es un ángulo?
                    <span contenteditable="true" class="many-line"></span>
                </li>
    
                <li style="list-style:none;"><b style="color: aqua;">3.</b> ¿Cuáles son las formas de representar un ángulo?
                    <span contenteditable="true" class="many-line"></span>
                </li>
    
                <li style="list-style:none;"><b style="color: aqua;">4.</b> ¿Cómo se define el teorema de Pitágoras?
                    <span contenteditable="true" class="many-line"></span>
                </li>
    
                <li style="list-style:none;"><b style="color: aqua;">5.</b> ¿Cuáles son los principales puntos notables dentro de un triángulo?
                    <span contenteditable="true" class="many-line"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">6.</b> ¿Cuáles son las rectas notables dentro de un triángulo?
                    <span contenteditable="true" class="many-line"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">7.</b> ¿Menciona una clasificación de triángulos?
                    <span contenteditable="true" class="many-line"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">8.</b> ¿Qué es una congruencia en Geometría?
                    <span contenteditable="true" class="many-line"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">9.</b> ¿Qué es la semejanza en Geometría?
                    <span contenteditable="true" class="many-line"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">10.</b> ¿Cómo se llama el punto de intersección de las medianas de un triángulo?
                    <span contenteditable="true" class="many-line"></span>
                </li>
            </div>

            <h4 style="color: #000000;"> <b style="color: orange;">III.</b>
                Con base en el siguiente triángulo, define las seis funciones trigonométricas del ángulo alpha.
            </h4>

            <figure class="g-aqua" style="margin: 0 auto 10px; max-width:50%;">
                <img class="img-responsive" style="margin-bottom:0px;" src="pictures/es1.png"/>
            
            </figure>

            <div>
                <li style="list-style:none;"><b style="color: aqua;">1.</b> sen <em>alpha</em>
                    <span contenteditable="true"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">2.</b> cos <em>alpha</em>
                    <span contenteditable="true"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">3.</b> tan <em>alpha</em>
                    <span contenteditable="true"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">4.</b> csc <em>alpha</em>
                    <span contenteditable="true"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">5.</b> sec <em>alpha</em>
                    <span contenteditable="true"></span>
                </li>
                <li style="list-style:none;"><b style="color: aqua;">6.</b> cot <em>alpha</em>
                    <span contenteditable="true"></span>
                </li>
            </div>

        </div>
    </div>

		
<!--END CONTAINER-->    
</div>



<!--ALL JS -->
<script src="../pack/js/jquery-2.1.4.min.js"></script>
<script src="../pack/js/bootstrap.min.js"></script>
<script src="../pack/js/init.js"></script>
<script src="../pack/js/hacker-utils.js"></script>
<script src="../pack/js/yohack-handler.js"></script>
<script src="../katex/katex.min.js"></script>
</body>
</html>
